.header {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  align-items: center;
  box-sizing: border-box;
  min-height: 293px;
  padding: 0 24px;
}

.header__links-list {
  display: flex;
  gap: 31px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 140px;
}

.header__address {
  padding-left: 59px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__address a {
  text-underline-position: under;
}

.cover {
  position: relative;
  z-index: -1;
  padding: 165px 24px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, .6);
}

.cover__title {
  margin-bottom: 125px;
  font-weight: 700;
  font-size: 100px;
  line-height: 122px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 84px;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 15px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 25.83px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
